<div class="container">
  <div class="overview">
    <img src="../../../assets/ps.svg" alt="">

    <div class="content">
      <h3 class="title">Pet Sematary</h3>
      <p class="author">Stephen King</p>
      <span class="space"></span>
      <label class="rating">
        <span class="rate"></span>
        <h5>4.56</h5>
      </label>
      <label class="reviews">2,464 reviews</label>
    </div>
  </div>

  <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia expedita soluta laudantium ea quidem illum, non ullam modi minima quas? Facilis beatae nobis atque cum error, quia ab recusandae dolor!</p>
      <a href="books/review#full">Full Synopsis</a>
  </div>

  <span class="divider"></span>


  <div class="bottom">
    <h3 class="title">Tap to add rating</h3>
    <span class="star"></span>
    <button class="btn full">
      <span>Next</span>
    </button>
  </div>

  <br><br><br><br>
</div>


