<div class="container">
  <div class="content">
    <span class="done"></span>
    <h3>Thank you!</h3>
    <p>You have submitted your first book review. Now it's time to make some friends</p>

    <button class="btn full">
      <span>Add friends</span>
    </button>

    <span class="space"></span>

    <div class="alternates">
      <h3>You may also be interested in:</h3>
      <div class="content">
        <div class="card">
          <img src="../../../assets/s.svg" alt="">
          <h5 class="title">Scar Tissue</h5>
          <p class="authon">Anthony Kiedis</p>
        </div>
        <div class="card">
          <img src="../../../assets/ea.svg" alt="">
          <h5 class="title">Eat Awesome</h5>
          <p class="authon">Paul Jarvis</p>
        </div>
        <div class="card">
          <img src="../../../assets/tw.svg" alt="">
          <h5 class="title">The Wasteland</h5>
          <p class="authon">Stephen King</p>
        </div>
      </div>
    </div>
  </div>
</div>