:host {
    // overflow-y: scroll;
    display: block;
}

form {
    position: relative;
    top: -28px;
    visibility: hidden;

    .btn {
        position: absolute;
        top: 3px;
        left: 3px;
        background: transparent;

        .zoom {
            background: url(../../../assets/zoom.svg) no-repeat;
            top: 62%;
            left: 62%;
        }
    }
}

#search {
    width: 100%;
    padding: 16px;
    padding-left: 42px;
    border-radius: 8px;
    border: none;
    box-shadow: 4px 12px 25px rgba(71, 55, 255, 0.08);
    display: block;
    color: rgba(56, 79, 125, 0.8);

    &::placeholder {
        color: rgba(#384F7D, .6);
    }
    
}

.label {
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(56, 79, 125, 0.8);
    margin: 12px 0;
}


.card-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;

    .card {
        display:flex;
        flex-direction: row;
        background: white;
        padding: 16px;
        box-sizing: border-box;
        width: 50%;
        height: 150px;
        margin-top: 20px;
        margin-right: 20px;
        border-radius: 8px;
        box-shadow: 4px 12px 25px rgba(71, 55, 255, 0.08);
        
        &:last-child {
            margin-right: 0px;
        }

        .content {
            display:flex;
            flex-direction: column;
            width: calc(100% - 120px);
            margin-left: 18px;

            h5 {
                font-size: 17px;
                line-height: normal;
                color: #384F7D;
                margin: 5px 0;
            }

            p.description {
                font-size: 12px;
                line-height: normal;
                color: rgba(56, 79, 125, 0.8);
                margin: 5px 0;
            }

            p.author {
                font-size: 14px;
                line-height: normal;
                color: rgba(56, 79, 125, 0.8);
                margin: 5px 0;
                font-weight: bold;
            }

            span.rate {
                background: url(../../../assets/stars.svg) no-repeat;
                background-position: center;
                width: 100px;
                height: 20px;
                display: block;
            }
        }

    }

    &:last-child {
        margin-bottom: 40px;
        margin-right: 0 !important; 
    }

    &:last-child .card:last-child {
        margin-right: 0px !important;
    }

    .action {
        width: 100%;
        height: 120px;
        position: absolute;
        bottom: 0;

        .overlay {
            background: linear-gradient(180deg, rgba(255,255,255,.7) 50.48%, rgba(255,255,255,1));;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            filter: blur(16px);
        }

        .btn {
            position: absolute;
            bottom: -15px;
        }
    }

}

@media only screen and (max-width: 768px) { 
    form {
        visibility: visible;
    }
    .label {
        display: block;
        // margin-top: 18px;
        margin-bottom: -10px;
    }
    .card-wrapper {
        display: flex;
        flex-direction: column;

        .card {
            width: 100%;
            margin-right: 0;

        }

        &:last-child .card:last-child {
            margin-bottom: 60px;
        }
    }
}