<div class="container">
    <form>
      <input type="search" name="search" id="search" placeholder="Search book">
      <button class="btn circular">
        <span class="icon zoom"></span>
      </button>
    </form>
    <label class="label">
      Books reviewed by you
    </label>
    <div class="wrapper">
        <div class="card-wrapper">
          <div class="card">
            <img src="../../../assets/remote.svg" alt="remote">
            <div class="content">
              <h5>Remote: Office not required</h5>
              <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorum voluptatibus esse aut.</p> -->
              <p class="author">Json Fried</p>
              <span class="space"></span>
              <span class="rate"></span>
            </div>
          </div>
          <div class="card">
              <img src="../../../assets/papillion.svg" alt="remote">
              <div class="content">
                <h5>Papillon</h5>
                <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorum voluptatibus esse aut.</p> -->
                <p class="author">Henri Charriere</p>
                <span class="space"></span>
                <span class="rate"></span>
              </div>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card">
            <img src="../../../assets/tdttg.svg" alt="remote">
            <div class="content">
              <h5>The Dark Tower: The Gunlinger</h5>
              <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorum voluptatibus esse aut.</p> -->
              <p class="author">Stephen King</p>
              <span class="space"></span>
              <span class="rate"></span>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/s.svg" alt="remote">
            <div class="content">
              <h5>Scar Tissue</h5>
              <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorum voluptatibus esse aut.</p> -->
              <p class="author">Antony Kiedis</p>
              <span class="space"></span>
              <span class="rate"></span>
            </div>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card">
            <img src="../../../assets/ea.svg" alt="remote">
            <div class="content">
              <h5>Eat Awesome</h5>
              <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorum voluptatibus esse aut.</p> -->
              <p class="author">Paul Jarvis</p>
              <span class="space"></span>
              <span class="rate"></span>
            </div>
          </div>
          <div class="card" style="margin-right: 0">
            <img src="../../../assets/remote.svg" alt="remote">
            <div class="content">
              <h5>Remote: Office not required</h5>
              <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorum voluptatibus esse aut.</p> -->
              <p class="author">Json Fried</p>
              <span class="space"></span>
              <span class="rate"></span>
            </div>
          </div>

          <div class="action">
            <div class="overlay"></div>
            <button class="btn full">
              <span>Add Book Review</span>
            </button>
          </div>
        </div>

        <br><br><br><br><br>
      
      </div>      
</div>